.pydevproject
.settings/org.eclipse.ltk.core.refactoring.prefs
.project
*.class
*.pyc
coinbaseUSD.csv
realtime-data.txt
quadriga_ignore.py
secrets.json
bittrex_ignore.py
cryptopia_ignore.py
twitter_api_ignore.py